body{
    background: white url("images/background.png");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.audiojs {
    border-radius: 50%;
}
#audiojs {
    border-radius: 50%;
}